:root {
  --bg-color: white;
  --text-color: black;
}

html.dark body {
  --bg-color: #232529;
  --text-color: white;
}

html body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
